@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

:root {
  --color1: #1D2537;
  --color2: #141B29;
  --color3: #4BBF94;
  --color4: #5BA698;
  --color5: #3D90D9;
  --color6: #5cdaab;
}

body {
  background-color: var(--color1);
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color2);
  width: 300px;
  height: 430px;
  border-radius: 4px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.308);
  position: relative;
}

input {
  width: 250px;
  height: 35px;
  border: none;
  border-radius: 4px;
  padding-inline: 10px;
  font-size: 12px;
  margin-bottom: 20px;
}

.btn {
  width: 120px;
  height: 30px;
  cursor: pointer;
  background-color: var(--color3);
  color: white;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  margin-top: 10px;
}

.btn:hover {
  background-color: var(--color6);
}

.navCadastro2 a {
  color: white;
  text-decoration: none;
  position: absolute;
  bottom: 50%;
  left: 0;
}

.spanCadastro {
  color: white;
  text-decoration: none ; 
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  padding-bottom: 4px;
  line-height: 2px;
  height: 50px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  position: absolute;
  left: 15%;
  bottom: 5%;
  z-index: 5;
}

.spanCadastro:hover {
  cursor: auto;
}

.navCadastro2 {
  color: white;
  text-decoration: none ; 
  cursor: auto;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  padding-bottom: 4px;
  line-height: 2px;
  height: 50px;
}
 
.navCadastro2:hover  {
  text-decoration: underline; 
  text-decoration-color: var(--color3);
  text-decoration-thickness: 3px; 
}

.faArrowLeft {
  color: white;
}

.fontAwesome1Logar {
  color: white;
  position: absolute;
  left: 5%;
  bottom: 5%;
  z-index: 5;
  font-size: 18px;
}

.span1 {
  font-size: 11px;
  color: red;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.divEspaco {
  height: 50px;
}

.sectionContainer {
  width: 100vw !important;
  height: 100vh !important;
  display: flex;
  flex-direction: row;
}


@media screen and (max-width: 700px) {
  .sectionContainer {
    flex-direction: column;
  }

  .section1Dash {
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
    padding-top: 40px;
    width: 100% !important;
    height: 800px !important;
    padding-bottom: 10px;

  }

  .btnLogout {
    position: absolute;
    right: 2%;
    top: 1%;
    z-index: 5;
  }

  .user {
    position: absolute;
    left: 2%;
    top: 2%;
    z-index: 5;
  }

  .imgDash {
    display: none;
  }

  
}

.section1Dash {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  height: 100%;
}

.section2Dash {
  background-color: var(--color2);
  width: 100%;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  flex-wrap: wrap;
} 

.user {  
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 20px;
  margin-bottom: 30px;
}

.nav2 {
  color: white;
  gap: 20px;
  font-size: 13px;
  font-weight: bold;
  width: 250px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav2:hover {
  border: 1px solid white;
}

.imgDash {
  margin-top: 10px;
}

.divCentro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnLogout {
  margin-top: 10px;
}

.formCriar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.inputsCriar {
  width: 80%;
  margin-bottom: 30px;
  background-color: var(--color1);
  color: white;
  border-radius: 4px;
}

.divUsuarios {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 250px;
  width: 100% !important;
  height: 60px;
  background-color: var(--color1);
  margin-bottom: 30px;
  color: white;
  border-radius: 4px;
  padding-inline: 10px;
  flex-wrap: wrap;
}

@media screen and (max-width: 850px) {
  .divUsuarios {
    gap: 100px;
    justify-content: center;
  }
}

.btnAjustes {
  margin-bottom: 12px;
}

@media screen and (max-width: 420px) {
  .divUsuarios {
    gap: 25px;
    height: 100px;
    justify-content: center;
  }
}

.react-calendar.custom-calendar {
  background-color: #384257 !important;
  border: 2px solid var(--color1);
}